.message {
    display: grid;
    grid-template-areas:
    "ava messageArea";
    grid-template-columns: 80px 220px;
    grid-gap: 10px;
    width: 500px;
    height: 200px;
    background: white;

    margin: auto;
}
.message img {
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 60px;
}
.ava {
    grid-area: ava;
}
.messageArea {
    padding: 20px;
    text-align: left;
    width: 300px;
    border-radius: 15px;
    border: 3px solid #1AA0D2;
    display: inline-block;
    position: relative;
}
.messageArea::after {
    content: '';
    width: 39px;
    height: 50px;
    border-left: 3px solid #1AA0D2;
    border-bottom: 5px solid #1AA0D2;
    position: absolute;
    bottom: -31px;
    left: 50px;
    background: white;
    transform: skewX(-30deg) skewY(-52deg);
}
.bubble-in {
    border-radius: 12px;
    padding: 30px;
    background: white;
    position: relative;
    z-index: 2;
}
.messageArea span{
  color: lightslategrey;
    font-size: larger  ;
    font-weight: bold;
}
.time {
    text-align: right;
    font-size: small;
    color: lightslategrey;
}